<div id="<%= dom_id(book) %>" class="border border-slate-300 justify-center mb-4">
  <h2 class="font-bold" ><%= book.title %></h2>
  <p><%= book.author %></p>
  <p><%= book.description %></p>
  <p>Votes: <%= book.votes %></p>
</div>
