<div id="<%= dom_id(book) %>" class="border border-slate-500 rounded-lg justify-center mb-4 p-4">
  <h2 class="font-bold mb-1" ><%= book.title %></h2>
  <p><%= book.author %></p>
  <p><%= link_to("📘 goodreads", book.url) %></p>

  <div class="mt-2 flex">
    <p class="flex-1">Votes: <%= book.votes.count %></p>
    <form action="/votes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="book[id]" value="<%= book.id %>">
      <input type="submit" value="voat!" class="flex-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
    </form>
  </div>
</div>
