<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="px-4 py-8 mx-auto">
      <div clas="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-center">
          <%= link_to("Welcome to 465 Book Club", root_path) =%>
        </h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
